In [1]:
import numpy as np
import pandas as pd
df1=pd.DataFrame(np.random.randn(4,3),columns=('b','d','e'),index=['台北','台中','台南','高雄'])
df1

           b         d         e
台北 -0.255779 -0.330265  0.272201
台中 -0.996031  1.818221 -1.917355
台南 -0.842401  1.372582 -1.404484
高雄 -0.083799 -0.474957  0.726104

In [3]:
#使用實體方法
np.abs(df1)

           b         d         e
台北  0.255779  0.330265  0.272201
台中  0.996031  1.818221  1.917355
台南  0.842401  1.372582  1.404484
高雄  0.083799  0.474957  0.726104

In [5]:
df1.abs

<bound method NDFrame.abs of            b         d         e
台北 -0.255779 -0.330265  0.272201
台中 -0.996031  1.818221 -1.917355
台南 -0.842401  1.372582 -1.404484
高雄 -0.083799 -0.474957  0.726104>

In [8]:
from pandas import Series
def fun1(value:Series)->float:
    return value.max()-value.min()
df1[['b']].apply(fun1)

b    0.912232
dtype: float64

In [9]:
df1.apply(fun1)

b    0.912232
d    2.293178
e    2.643459
dtype: float64

In [10]:
df1.apply(fun1,axis=1)

台北    0.602466
台中    3.735577
台南    2.777066
高雄    1.201061
dtype: float64

In [12]:
def fun2(value:Series)->Series:
    return pd.Series([value.max(),value.min()],index=['最大','最小'])
df1.apply(fun2)

           b         d         e
最大 -0.083799  1.818221  0.726104
最小 -0.996031 -0.474957 -1.917355

In [13]:
df1.apply(fun2,axis=1)

          最大        最小
台北  0.272201 -0.330265
台中  1.818221 -1.917355
台南  1.372582 -1.404484
高雄  0.726104 -0.474957